
instance.cfg
minecraft/logs/
minecraft/local/ftbchunks/data/
minecraft/screenshots/
minecraft/journeymap/
minecraft/saves/
natives/
minecraft/Distant_Horizons_server_data
minecraft/CustomSkinLoader/caches/
minecraft/modernfix/structureCacheV1
/minecraft/crash-reports
/minecraft/mods/panorama
/minecraft/backups
/minecraft/config/worldedit
minecraft/usercache.json
minecraft/.world-host-cache/
/minecraft/world
/minecraft/libraries
minecraft/banned-ips.json
minecraft/banned-players.json
minecraft/eula.txt
minecraft/ops.json
minecraft/fancymenu_data/last_world.fmdata
/minecraft/mods/.index
minecraft/config/packetfixer.properties
