
instance.cfg
minecraft/logs/
minecraft/local/ftbchunks/data/
minecraft/screenshots/
minecraft/journeymap/
minecraft/saves/
natives/
minecraft/Distant_Horizons_server_data
minecraft/CustomSkinLoader/caches/
minecraft/modernfix/structureCacheV1
/minecraft/crash-reports
/minecraft/mods/panorama
